# gyrochronology fitting using gyro-interp
* https://gyro-interp.readthedocs.io/en/latest/examples.html

gyro-interp needs rotation period and Teff of the star to estimate its age. 

Using `Target.query_vizier_param()`, I compiled useful parameters into a table.

In [1]:
import pandas as pd

# see youth_indicators_tois.ipynb
data = pd.read_csv('../data/youth_indicators_tois.csv')
data

          TOI        bv  bv_err  li      prot  rhk         teff
0      101.01  0.656000     0.1 NaN  1.430321  NaN  5648.642857
1      102.01  0.507667     0.1 NaN  4.410011  NaN  6257.270417
2      103.01  0.291000     0.1 NaN  3.554638  NaN  6086.159167
3      104.01  0.545667     0.1 NaN  4.090360  NaN  6046.516250
4      105.01  0.687667     0.1 NaN  2.187803  NaN  5741.285333
...       ...       ...     ...  ..       ...  ...          ...
4312  5023.01       NaN     NaN NaN       NaN  NaN  3720.494840
4313  5024.01  0.612000     NaN NaN       NaN  NaN  5985.393333
4314  5025.01  0.313000     NaN NaN       NaN  NaN  8132.166667
4315  5026.01  0.700000     NaN NaN       NaN  NaN  6444.962144
4316  5027.01  0.582000     NaN NaN       NaN  NaN  5805.528337

[4317 rows x 7 columns]

In [2]:
# see information for target
d=data.query("TOI==200.01").squeeze()
d

TOI        200.010000
bv           0.735647
bv_err       0.048146
li         108.107498
prot         5.475000
rhk         -4.090000
teff      5482.444615
Name: 98, dtype: float64

In [3]:
Prot = d.prot 
Teff = d.teff
# there is no information on errors so let us assume values
Prot_err = 0.1
Teff_err = 100

## setup and run gyro-interp

In [4]:
import numpy as np
from gyrointerp import gyro_age_posterior
from gyrointerp import get_summary_statistics

# uniformly spaced grid between 0 and 2600 megayears
age_grid = np.linspace(0, 2600, 500)

# calculate the age posterior - takes ~30 seconds
age_posterior = gyro_age_posterior(Prot, 
                                   Teff, 
                                   Prot_err=Prot_err, 
                                   Teff_err=Teff_err, 
                                   age_grid=age_grid
)

# calculate dictionary of summary statistics
result = get_summary_statistics(age_grid, age_posterior)
print(f"Age = {result['median']} +{result['+1sigma']} -{result['-1sigma']} Myr.")

Age = 221.13 +101.35 -95.34 Myr.

## Exercise
* Run gyro-interp in all TOI and known host stars in NExSci (see `youth_indicators_nexsci.csv`) 
* Update the TOI and nexsci tables using data from previous research