## comparing ages from different nexsci tables

https://exoplanetarchive.ipac.caltech.edu/docs/API_PS_columns.html#choose

In [7]:
import sys
sys.path.insert(0, '../code/')
from kenmon import get_nexsci_data

df1 = get_nexsci_data(table_name="ps", clobber=False)
df1.head()

Column definitions:  https://exoplanetarchive.ipac.caltech.edu/docs/API_PS_columns.html
Downloading NExSci ps table...

WARNING: Unrecognized unit: 'hour' for column pl_trandur. [astroquery.ipac.nexsci.nasa_exoplanet_archive.core]
WARNING: Unrecognized unit: 'hour' for column pl_trandurerr1. [astroquery.ipac.nexsci.nasa_exoplanet_archive.core]
WARNING: Unrecognized unit: 'hour' for column pl_trandurerr2. [astroquery.ipac.nexsci.nasa_exoplanet_archive.core]
WARNING: column st_lum has a unit but is kept as a MaskedColumn as an attempt to convert it to Quantity failed with:
UnitTypeError("MaskedQuantity instances require normal units, not <class 'astropy.units.function.logarithmic.DexUnit'> instances.") [astropy.table.table]
WARNING: column st_lumerr1 has a unit but is kept as a MaskedColumn as an attempt to convert it to Quantity failed with:
UnitTypeError("MaskedQuantity instances require normal units, not <class 'astropy.units.function.logarithmic.DexUnit'> instances.") [astropy.table.table]
WARNING: column st_lumerr2 has a unit but is kept as a MaskedColumn as an attempt to convert it to Quantity failed with:
UnitTypeError("MaskedQuantity instances require normal units, not <class 'astropy.units.function.logarithmic.DexUnit'> instances.") [astropy.table.table]
WARNING: column st_logg has a unit but is kept as a MaskedColumn as an attempt to convert it to Quantity failed with:
UnitTypeError("MaskedQuantity instances require normal units, not <class 'astropy.units.function.logarithmic.DexUnit'> instances.") [astropy.table.table]
WARNING: column st_loggerr1 has a unit but is kept as a MaskedColumn as an attempt to convert it to Quantity failed with:
UnitTypeError("MaskedQuantity instances require normal units, not <class 'astropy.units.function.logarithmic.DexUnit'> instances.") [astropy.table.table]
WARNING: column st_loggerr2 has a unit but is kept as a MaskedColumn as an attempt to convert it to Quantity failed with:
UnitTypeError("MaskedQuantity instances require normal units, not <class 'astropy.units.function.logarithmic.DexUnit'> instances.") [astropy.table.table]

Saved:  ../data/nexsci_ps.csv

,pl_name,pl_letter,hostname,hd_name,hip_name,tic_id,gaia_id,default_flag,pl_refname,sy_refname,...,sy_jmagstr,sy_hmag,sy_hmagerr1,sy_hmagerr2,sy_hmagstr,sy_kmag,sy_kmagerr1,sy_kmagerr2,sky_coord.ra,sky_coord.dec
0,Kepler-6 b,b,Kepler-6,,,TIC 27916356,Gaia DR2 2086636884980514304,0,<a refstr=MORTON_ET_AL__2016 href=https://ui.a...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,12.001&plusmn;0.021,11.706,0.019,-0.019,11.706&plusmn;0.019,11.634,0.019,-0.019,296.837247,48.23997
1,Kepler-6 b,b,Kepler-6,,,TIC 27916356,Gaia DR2 2086636884980514304,0,<a refstr=EXOFOP_TESS_TOI href=https://exofop....,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,12.001&plusmn;0.021,11.706,0.019,-0.019,11.706&plusmn;0.019,11.634,0.019,-0.019,296.837247,48.23997
2,Kepler-6 b,b,Kepler-6,,,TIC 27916356,Gaia DR2 2086636884980514304,1,<a refstr=ESTEVES_ET_AL__2015 href=https://ui....,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,12.001&plusmn;0.021,11.706,0.019,-0.019,11.706&plusmn;0.019,11.634,0.019,-0.019,296.837247,48.23997
3,Kepler-6 b,b,Kepler-6,,,TIC 27916356,Gaia DR2 2086636884980514304,0,<a refstr=Q1_Q12_KOI_TABLE href=https://exopla...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,12.001&plusmn;0.021,11.706,0.019,-0.019,11.706&plusmn;0.019,11.634,0.019,-0.019,296.837247,48.23997
4,Kepler-6 b,b,Kepler-6,,,TIC 27916356,Gaia DR2 2086636884980514304,0,<a refstr=Q1_Q16_KOI_TABLE href=https://exopla...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,12.001&plusmn;0.021,11.706,0.019,-0.019,11.706&plusmn;0.019,11.634,0.019,-0.019,296.837247,48.23997

In [8]:
df1.shape

(34507, 356)

In [9]:
df2 = get_nexsci_data(table_name="pscomppars", clobber=False)
df2.head()

Column definitions:  https://exoplanetarchive.ipac.caltech.edu/docs/API_PS_columns.html
Loaded:  ../data/nexsci_pscomppars.csv

,objectid,pl_name,pl_letter,hostid,hostname,hd_name,hip_name,tic_id,disc_pubdate,disc_year,...,pl_angseperr1,pl_angseperr2,pl_angseplim,pl_angsepformat,pl_angsepstr,pl_angsepsymerr,pl_angsep_reflink,pl_ndispec,sky_coord.ra,sky_coord.dec
0,3.34990,Kepler-24 e,e,2.424906,Kepler-24,NaN,NaN,TIC 122376177,2014-03,2014,...,NaN,NaN,0.0,NaN,0.1190,NaN,<a refstr=CALCULATED_VALUE href=/docs/pscp_cal...,0,290.413262,38.343728
1,3.24410,Kepler-1065 b,b,2.430631,Kepler-1065,NaN,NaN,TIC 378012771,2016-05,2016,...,NaN,NaN,0.0,NaN,0.0405,NaN,<a refstr=CALCULATED_VALUE href=/docs/pscp_cal...,0,294.511319,38.790465
2,3.12740,TOI-1260 c,c,2.572931,TOI-1260,NaN,NaN,TIC 355867695,2021-08,2021,...,NaN,NaN,0.0,NaN,0.8930,NaN,<a refstr=CALCULATED_VALUE href=/docs/pscp_cal...,0,157.144071,65.854199
3,3.13149,HD 28109 c,c,2.573080,HD 28109,HD 28109,NaN,TIC 29781292,2022-05,2022,...,NaN,NaN,0.0,NaN,2.2100,NaN,<a refstr=CALCULATED_VALUE href=/docs/pscp_cal...,0,65.238306,-68.102688
4,3.12788,K2-350 b,b,2.208571,K2-350,NaN,NaN,TIC 294319820,2021-08,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,204.035509,-14.009252

In [10]:
df2.shape

(4360, 684)

In [11]:
len(df1.hostname.unique())

3305

In [12]:
len(df2.hostname.unique())

3305

In [13]:
df2.st_age.shape

(4360,)

In [15]:
df1[df1.default_flag==1].st_age.dropna().shape

(2303,)

In [16]:
df2.st_age.dropna().shape

(3710,)

In [19]:
cols =['st_age','st_age_reflink']
df2.dropna(subset='st_age')[cols]

      st_age                                     st_age_reflink
0       3.02  <a refstr=FULTON__AMP__PETIGURA_2018 href=http...
1       4.47  <a refstr=MORTON_ET_AL__2016 href=https://ui.a...
2       6.70  <a refstr=LAM_ET_AL__2022 href=https://ui.adsa...
3       1.10  <a refstr=DRANSFIELD_ET_AL__2022 href=https://...
9       6.35  <a refstr=GHACHOUI_ET_AL__2024 href=https://ui...
...      ...                                                ...
4355    0.50  <a refstr=GILLON_ET_AL__2016 href=https://ui.a...
4356    6.00  <a refstr=LIVINGSTON_ET_AL__2024 href=https://...
4357    4.37  <a refstr=MORTON_ET_AL__2016 href=https://ui.a...
4358   13.80  <a refstr=Q1_Q8_KOI_TABLE href=https://exoplan...
4359    7.50  <a refstr=NAPONIELLO_ET_AL__2025 href=https://...

[3710 rows x 2 columns]

## Summary

* use `table_name="pscomppars"` since it has more age data
* Information on how the age was derived/ which method used is not explicit in the table. We have to check the paper to know.